{% extends 'quiz_app/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2>Добро пожаловать в Викторину Стран и Столиц!</h2>
<p>Проверьте и расширьте свои знания о странах и их столицах. Вы также можете добавить свои собственные страны и иллюстрации, чтобы сделать викторину уникальной!</p>

<hr> {# Опционально: разделитель для визуального отделения #}

<h4>О Викторине:</h4>
<p>
    Готовы отправиться в захватывающее путешествие по карте мира? Наша викторина – это увлекательный способ проверить ваши географические познания!
</p>
<p>
    В каждом раунде вам будет предложена серия вопросов, сфокусированных на соответствии стран и их столиц. Формат вопросов может варьироваться, но чаще всего вам потребуется назвать правильную столицу для предложенной страны. Иногда могут быть включены вопросы с использованием иллюстраций (например, флагов или фотографий).
</p>
<p>
    Вопросы для каждой викторины формируются случайным образом из всей базы данных стран и столиц, доступных в приложении. Это означает, что викторина будет учитывать даже те страны, которые вы добавили сами!
</p>
<p>
    За каждый правильный ответ вам начисляются баллы. Ваша главная цель – набрать как можно больше очков за раунд, чтобы попасть в <a href="{% url 'leaders_page' %}">таблицу лидеров</a> и доказать всем, что вы – настоящий эксперт в области стран и столиц мира! Соревнуйтесь с друзьями или просто улучшайте свои личные рекорды.
</p>
<p>
    Примите вызов и узнайте, насколько хорошо вы знаете наш удивительный мир!
</p>

<hr> {# Опционально: еще один разделитель #}

<p>Выберите действие:</p>
<ul>
    <li><a href="{% url 'quiz_page' %}"><strong>Начать викторину прямо сейчас!</strong></a></li> {# Выделим ссылку на викторину #}
    <li><a href="{% url 'country_list' %}">Посмотреть список стран и столиц</a></li>
    <li><a href="{% url 'add_country' %}">Добавить новую страну и столицу</a></li>
    <li><a href="{% url 'leaders_page' %}">Посмотреть таблицу лидеров</a></li>
</ul>
{% endblock %}